body {
    font-family: 'Poppins', sans-serif;
}

.list-item {
    list-style: none;
    padding: 4px 0;

}

.fa-circle-check {
    padding-right: 4px;
}

footer {
    background-color: #0B0D17;
    height: 280px;
}